.external
{
    background-color: pink;
}
div
{
    width: 100vw;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0.5rem;
    font-size: 2rem;
}